body,
a {
    color: rgb(6, 46, 6);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    
}

h1 {
    color: rgb(241, 241, 237);  
    font-size: 90px;
    font-family: 'Parisienne', cursive;
    text-align: center;
    
}

h2 {
    color: rgb(6, 46, 6);
    font-size: 36px;
}

h4 {
    color: rgb(6, 46, 6);
    font-size: 32px;
}

h5 {
    color: rgb(6, 46, 6);
    font-size: 20px;
}

header {
    background-color: rgb(85, 19, 11);
    color: rgb(241, 241, 237);  
    font-size: 36px;
    font-family: 'Parisienne', cursive;
    text-align: center;
}

.praxe {
    background-color: #ffffff;
}

.znalosti {
    background-color: #f2f2f2;
}

.vzdělání {
    background-color: #e5e5e5;
}

.certifikáty {
    background-color: #d8d8d8;
}

.koníčky {
    background-color: #cccccc;
}

footer,
a {
    color: rgb(241, 241, 237);
    background-color: rgb(5, 48, 5);
    text-align: center;
}