* {
    box-sizing: border-box;
}

body,
a {
    color: rgb(6, 46, 6);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1 {
    color: rgb(241, 241, 237);  
    font-size: 90px;
    font-family: 'Parisienne', cursive;
    text-align: center; 
    margin-top: 0;
}

h2 {
    color: rgb(6, 46, 6);
    font-size: 36px;
    text-decoration: underline;
}

h4 {
    color: rgb(6, 46, 6);
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h5 {
    color: rgb(6, 46, 6);
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

header {
    background-color: rgb(85, 19, 11);
    color: rgb(241, 241, 237);  
    font-size: 36px;
    line-height: 0;
    font-family: 'Parisienne', cursive;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;   
}

.praxe {
    margin-top: 150px;
}

.znalosti,
.certifikaty {
    background-color: #e5e5e5;
}

.praxe,
.vzdelani,
.konicky {
    background-color: #f2f2f2;
    }

footer {
    color: rgb(241, 241, 237);
    background-color: rgb(5, 48, 5);
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

footer a {
    color: rgb(241, 241, 237);
    padding: 20px 10;
}

.praxe,
.znalosti,
.vzdelani,
.certifikaty,
.konicky {
    max-width: 1800px;
    padding: 50px 15%;
    margin: 0 auto;
}

table {
    border-spacing: 0;
    margin: 0 50px;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid rgb(6, 46, 6);
    padding: 5px 0;
}

.uroven {
    text-align: right;
    padding-left: 30px;
}

.foto-ja {
    width: 250px;
    border: 10px solid rgb(241, 241, 237);
    border-radius: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 8%; 
}

.foto-bestboss {
    width: 350px;
    float: right;
    border-radius: 20px;
    border: 10px solid rgb(241, 241, 237);
}

.foto-under {
    width: 350px;
    float: right;
    border-radius: 20px;
    border: 10px solid rgb(241, 241, 237);
}

.foto-hireme {
    width: 70%;
    border-radius: 20px;
    border: 10px solid rgb(241, 241, 237);
}